<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Dominee POS System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet prefetch' href='css/angular-material.min.css'>
  <!--<link rel='stylesheet prefetch' href='css/whiteframe.css'>-->

  <link href="css/fonts/material.css" rel="stylesheet" />
  <link rel="stylesheet" href="css/style.css">
  <link rel='stylesheet prefetch' href='css/bootstrap.min.css'>
  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css'>
  <link rel='stylesheet prefetch' href='css/angularjs-datetime-picker.css'>
  
  <script src="templates/assets/angular.min.js"></script>
  <script src="templates/assets/angular-route.min.js"></script>
  <script src="templates/assets/angular-animate.min.js"></script>
  <script src="templates/assets/angular-aria.min.js"></script>
  <script src="templates/assets/angular-material.min.js"></script>
  <script src="templates/assets/angular-messages.min.js"></script>
  <script src="templates/assets/angular-cookies.min.js"></script>
  <script src="templates/assets/angular-sanitize.min.js"></script>
  <script src='templates/assets/textAngular.min.js'></script>
  <script src='templates/assets/angularjs-datetime-picker.js'></script>
  
  <script src="app/app.js"></script>      <!-- Route controller -->
  <script src="app/root.js"></script>     <!-- base controller -->
  <script src="app/services.js"></script>  <!-- database -->

  <script src="app/controllers/login.js"></script>
  <script src="app/controllers/category.js"></script>
  <script src="app/controllers/ingredients.js"></script>
  <script src="app/controllers/subcategory.js"></script>
  <script src="app/controllers/product.js"></script>
  <script src="app/controllers/product_new.js"></script>
  <script src="app/controllers/product_edit.js"></script>
  <script src="app/controllers/setting.js"></script>
  <script src="app/controllers/user.js"></script>
  <script src="app/controllers/home.js"></script>
  <script src="app/controllers/pos.js"></script>
  <script src="app/controllers/report.js"></script>
  <script src="app/controllers/myorder.js"></script>
  <script src="app/controllers/consumption.js"></script>
  <script src="app/controllers/stock.js"></script>
  <script src="app/controllers/stockhistory.js"></script>
  <script src="app/controllers/stockreport.js"></script>
  <script src="app/controllers/topping.js"></script>
  <style>
 .ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
  }
  .md-input-container:not(.md-input-has-value) input:not(:focus) {
      color: seagreen
  }
</style>
 
</head>
<body>
  <div ng-app="App" ng-controller="RootCtrl" layout="row" layout-fill ng-cloak style="overflow:scroll">
   <!-- Sliding Menu -->
    <md-sidenav ng-hide="isLogin" class="md-sidenav-left md-whiteframe-z2" role="sidenav" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <!-- menu header -->
      <md-toolbar class="nav-header md-hue-2" layout-align="end end">
        <div class="md-toolbar-tools" layout layout-padding>
          <md-icon class="material-icons md-36">{{data.user.icon}}</md-icon>  
          <div layout="column" layout-padding>
            <span class="md-body-2">{{ data.user.name }}</span>
            <span class="md-caption">{{ data.user.email }}</span>
          </div>
          <span flex></span>
          <md-menu md-position-mode="target-right target" >
            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <md-icon>more_vert</md-icon>
            </md-button>
            <md-menu-content width=3>
              <md-menu-item>
                <md-button layout-fill md-ink-ripple ng-click="directHref('#setting')">Profile</md-button>
              </md-menu-item>

              <md-menu-item>
                <md-button layout-fill md-ink-ripple ng-click="doLogout($event)">Logout</md-button>
              </md-menu-item>
              
            </md-menu-content>  
          </md-menu>
        </div>
      </md-toolbar>

      <!-- SIDE MENU -->
      <md-content role="navigation">
        <md-list-item ng-repeat="action in sidenav.actions" ng-click="directHref(action.link)" >
          <md-icon>{{action.icon}}</md-icon>
          <p class="md-body-2">{{action.name}}</p>
        </md-list-item>
      </md-content>

    </md-sidenav>

    <div tabindex="-1" layout="column" role="main" class="flex md-layout-column">
      <md-toolbar ng-hide="isLogin" role="toolbar">
        <div class="md-toolbar-tools">
          <!-- toogle button -->
          <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
            <md-icon>menu</md-icon>
          </md-button>

          <!-- toolbar title -->
          <h4 class="md-title">{{pagetitle}}</h4> <span flex></span>
          <!-- add button -->
          <md-button ng-if="toolbar_menu != null" class="md-primary" ng-click="barAction($event)">{{toolbar_menu.title}}</md-button> 

          <!-- more -->
          <md-menu md-position-mode="target-right target" >
            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <md-icon>more_vert</md-icon>
            </md-button>
            <md-menu-content width=3>

              <md-menu-item>
                <md-button layout-fill md-ink-ripple ng-click="directHref('#setting')">Profile</md-button>
              </md-menu-item>

              <md-menu-item>
                <md-button layout-fill md-ink-ripple ng-click="doLogout($event)">Logout</md-button>
              </md-menu-item>
              
            </md-menu-content>  
          </md-menu>
        </div>
      </md-toolbar>

      <!-- CONTENT PAGE -->
      <md-content layout ng-hide="isLogin" md-scroll-y flex class="md-padding" ng-style="{'background' : bgColor}">
        <div ng-view layout-fill flex></div> 
      </md-content>
      
      <!-- CONTENT LOGIN -->
      <md-content layout ng-hide="!isLogin" md-scroll-y layout-align="center center" flex class="md-padding" ng-style="{'background' : bgColor}">
        <div ng-view layout-fill flex></div> 
      </md-content>
    </div>
  </div>
</body>

</html>