<md-card class="md-whiteframe-1dp md-padding">

	<form class="form-inline">
		<md-input-container>
			<label>Search Text Here....</label>
			<input ng-model="search" maxlength="50">
		</md-input-container>
	</form>

	<div class="table-responsive-vertical">

		<md-button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
			<md-icon>fast_rewind</md-icon>
		</md-button>
		{{currentPage+1}}/{{numberOfPages()}}
		<md-button ng-disabled="currentPage >= toppings.length/pageSize - 1" ng-click="currentPage=currentPage+1">
			<md-icon>fast_forward</md-icon>
		</md-button>

		<table id="table" class="table table-hover">
			<thead>
				<tr>
					<th ng-click="sort('id')" width="5%">No</th>
					<th ng-click="sort('title')" width="25%">Topping</th>
					<th ng-click="sort('unit')" width="15%">Unit</th>
					<th ng-click="sort('stock')" width="15%">Amount</th>
					<th ng-click="sort('status')" width="15%">Price</th>
					<th width="1%">Action</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="c in toppings |orderBy:sortKey:reverse|filter:search | startFrom:currentPage*pageSize | limitTo:pageSize">
					<td data-title="No">{{$index+1}}</td>
					<input type="hidden" ng-model="c.ingredient_id">
					<td data-title="Name">{{c.title}}</td>
					<td data-title="Name">{{c.unit}}</td>
					<td data-title="Stock">{{c.amount}}</td>
					<td data-title="Stock">{{c.price}}</td>
					<td data-title="Action" style="padding: 0rem 0rem 0rem 1rem;">
						<md-menu md-position-mode="target-right target">
							<md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
								<md-icon>more_vert</md-icon>
							</md-button>
							<md-menu-content width=3>
								<md-title class="md-padding">MENU - {{c.title}}</md-title>

								<md-menu-item>
									<md-button layout-fill md-ink-ripple ng-click="editTopping($event, c)">
										<md-icon md-class="md-primary" md-menu-align-target>create</md-icon>
										Edit
									</md-button>
								</md-menu-item>

								<!-- <md-menu-item>
				            <md-button layout-fill md-ink-ripple ng-click="deleteCategory($event, c)">
				            	<md-icon md-class="md-primary" md-menu-align-target>delete</md-icon>
				              Delete
				            </md-button>
				          </md-menu-item>-->

							</md-menu-content>
						</md-menu>
					</td>
				</tr>
				<tr ng-if="loading">
					<td style="text-align:center;" colspan="10">Loading...</td>
				</tr>
			</tbody>
		</table>

		<md-button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
			<md-icon>fast_rewind</md-icon>
		</md-button>
		{{currentPage+1}}/{{numberOfPages()}}
		<md-button ng-disabled="currentPage >= toppings.length/pageSize - 1" ng-click="currentPage=currentPage+1">
			<md-icon>fast_forward</md-icon>
		</md-button>
	</div>
</md-card>