<md-card class="md-whiteframe-1dp md-padding">
   <div class="row">
       <div class="col-lg-3 col-md-6">
                    <div class="panel panel-mypanel4">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                   <i class="fa fa-th fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                  
								
                                    <h1>{{ cspucount[0].table3Count }}</h1>
                                    <div>Products</div>
                                </div>
                            </div>
                        </div>
                        <a href="#product/0">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                
                  <div class="col-lg-3 col-md-6">
                    <div class="panel panel-mypanel5">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                <i class="fa fa-barcode fa-5x"></i>
                                
                                </div>
                                <div class="col-xs-9 text-right">
                              
                                   <h1>{{ cspucount[0].table2Count }}</h1>
                                    <div>Subcategory</div>
                                </div>
                            </div>
                        </div>
                        <a href="#subcategory">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                
                 <div class="col-lg-3 col-md-6">
                    <div class="panel panel-mypanel6">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                   <i class="fa fa-tasks fa-5x" aria-hidden="true"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                  
                                  <h1>{{ cspucount[0].table1Count }}</h1>
                                    <div>Category</div>
                                </div>
                            </div>
                        </div>
                        <a href="#category">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-mypanel7">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                   <i class="fa fa-user fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                  <h1>{{ cspucount[0].table4Count }}</h1>
                                    <div>Users</div>
                                </div>
                            </div>
                        </div>
                        <a href="#newstats">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
</md-card>

