<md-card class="md-whiteframe-1dp md-padding">

<div layout="row">
       <form class="form-inline" flex="30">
          <md-input-container>    
             <label>Search Text Here....</label>
             <input  ng-model="search" maxlength="100">
              </md-input-container>    
         </form>
         
          <md-input-container flex="5">
          </md-input-container>
                
         <md-input-container flex="30">
          <label>Choose Category to Filter</label>
           <md-select  name="cat" ng-model="category" ng-change="filterProductByCategory(category)">
            <md-option ng-value="0">{{ 'All Category' }}</md-option>
            <md-option ng-value="cate.id" ng-repeat="cate in categories">{{ cate.title }}</md-option>
          </md-select>
       </md-input-container>
        
         <md-input-container flex="5">
          </md-input-container>
                
        <md-input-container flex="30">
          <label>Choose Subcategory to Filter</label>
           <md-select  name="subcategory" ng-model="subcategory" ng-change="filterProductBySubcategory(subcategory)">
            <!--<md-option ng-value="0">{{ 'All Subcategory' }}</md-option>-->
            <md-option ng-value="sub.id" ng-repeat="sub in subcategories">{{ sub.title }}</md-option>
          </md-select>
       </md-input-container>
      
      </div>
  
  <div class="table-responsive-vertical">
       
      <md-button ng-disabled="currentPage == 0" ng-click="GetPreviousPage(currentPage)">
       <md-icon>fast_rewind</md-icon>
      </md-button>
      
      {{ currentPage+1 }}/{{numberOfPages()}}
    
    <md-button ng-disabled="currentPage >= numberOfPages()-1" ng-click="GetNextPage(currentPage)">
       <md-icon>fast_forward</md-icon> 
    </md-button>
    
    <label>Goto Page:</label> <input type="number" ng-model="currentPage" max=" {{ numberOfPages()-1 }}" min="0">
    
  <table id="table" class="table table-hover">
		<thead>
		<tr >
			<th width="2%" ng-click="sort('id')">ID</th>
            <th width="12%" ng-click="sort('title')"> Product</th>
			<th width="5%" ng-click="sort('quantity')">Quantity </th>
            <th width="3%" ng-click="sort('price')">Price </th>
            <th width="3%" ng-click="sort('cgst')">GST </th>
            <th width="3%" ng-click="sort('status')">Status</th>
			<th width="1%">Action</th>
		</tr>
		</thead>

		<tbody>
		  	<tr ng-repeat="p in products | filter:search |orderBy:sortKey:reverse | startFrom:currentPage*pageSize | limitTo:pageSize">
			    <td ng-click="detailsProduct($event, p)" data-title="No">{{ p.id }}</td>
                 
			    <td id="{{ p.id+'t' }}" contenteditable="true" ng-dblclick="saveToDatabase($event,'product','title', p.id , p.id+'t')" data-title="Name">{{p.title}}</td>
			    <td id="{{ p.id+'q' }}" contenteditable="true" ng-dblclick="saveToDatabase($event,'product','quantity', p.id , p.id+'q')" data-title="Quantity">{{p.quantity }}</td>
                <td id="{{ p.id+'sp' }}" contenteditable="true" ng-dblclick="saveToDatabase($event,'product','price', p.id , p.id+'sp')" data-title="Price">{{p.price }}</td>
                  <td data-title="Stock">{{p.cgst+p.sgst }} {{'%'}}</td>
                
                
                 <td data-title="Status" style="padding: 0rem 0rem 0rem 1rem;">
			    	 <md-button class="md-icon-button" ng-click="UpdateStatus($event, p)">
				      <md-checkbox ng-checked="p.status"> </md-checkbox>
                      </md-button>
			    </td>
                
                
			    <td data-title="Action" style="padding: 0rem 0rem 0rem 1rem;">
				      <md-menu md-position-mode="target-right target" >
				        <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
				          <md-icon>more_vert</md-icon>
				        </md-button>
				        <md-menu-content width=3>
				          <md-title class="md-padding">MENU - {{p.title}}</md-title>
				          <md-menu-item>
				            <md-button layout-fill md-ink-ripple ng-click="detailsProduct($event, p)">
				            	<md-icon md-class="md-primary" md-menu-align-target>launch</md-icon>
				              Details
				            </md-button>
				          </md-menu-item>
                          
				          <md-menu-item>
				            <md-button layout-fill md-ink-ripple ng-click="EditExistingProduct($event, p.id)">
				            	<md-icon md-class="md-primary" md-menu-align-target>create</md-icon>
				              Edit
				            </md-button>
				          </md-menu-item>

                    <md-menu-item>
				            <md-button layout-fill md-ink-ripple ng-click="ViewProductIngredients($event, p.id)">
				            	<md-icon md-class="md-primary" md-menu-align-target>room_service</md-icon>
				              Product Ingredients
				            </md-button>
				          </md-menu-item>

				           <!--<md-menu-item>
				            <md-button layout-fill md-ink-ripple ng-click="deleteProduct($event, p)">
				            	<md-icon md-class="md-primary" md-menu-align-target>delete</md-icon>
				              Delete
				            </md-button>
				          </md-menu-item>
                    -->
				        </md-menu-content>  
				      </md-menu>
			    </td> 
		  	</tr>
		  	<tr ng-if="loading"><td style="text-align:center;" colspan="10"><img src="css/loader1.gif" style="height:5px; width:120px"></td></tr>
	  	</tbody>
	</table> 
      
    <md-button ng-disabled="currentPage == 0" ng-click="GetPreviousPage(currentPage)">
       <md-icon>fast_rewind</md-icon>
    </md-button>
    {{ currentPage+1 }}/{{numberOfPages()}}
    <md-button ng-disabled="currentPage >= numberOfPages()-1" ng-click="GetNextPage(currentPage)">
       <md-icon>fast_forward</md-icon> 
    </md-button>
    <label>Goto Page:</label> <input type="number" ng-model="currentPage" max=" {{ numberOfPages()-1 }}" min="0">
</div>
</md-card>